In [1]:
import pandas as pd
import math 
import numpy as np
import csv
import zipfile

In [12]:
################################################ASNImport
zip_path = r"C:\Users\howar\OneDrive\Documents\BU Mod1\Data for Milestone 1\Harris County Real Estate Data\ASN\20250806_ASNSubscriber.zip"

with zipfile.ZipFile(zip_path) as z:
    with z.open("20250806_ASNDBAs.txt") as f:
        dfASN1 = pd.read_csv(f, sep="|")

print(dfASN1.head())

###Import2
zip_path = r"C:\Users\howar\OneDrive\Documents\BU Mod1\Data for Milestone 1\Harris County Real Estate Data\ASN\20250806_ASNSubscriber.zip"

with zipfile.ZipFile(zip_path) as z:
    with z.open("20250806_ASNInstruments.txt") as f:
        dfASN2 = pd.read_csv(f, sep="|")

print(dfASN2.head())


###Import 3
zip_path = r"C:\Users\howar\OneDrive\Documents\BU Mod1\Data for Milestone 1\Harris County Real Estate Data\ASN\20250806_ASNSubscriber.zip"

with zipfile.ZipFile(zip_path) as z:
    with z.open("20250806_ASNOwners.txt") as f:
        dfASN3 = pd.read_csv(f, sep="|")

print(dfASN3.head())

### ALL ASNData
df_allASN = pd.concat([dfASN1, dfASN2, dfASN3], ignore_index=True)
grouped = df_allASN.groupby("Address").size()

print(grouped)

print(df_allASN.shape)
print(df_allASN.head())


################################################ASNImport




   ###Final Concat for all DFs
#df_ALLDATA = pd.concat([df_allASN, dfASN2, dfASN3], ignore_index=True)
#grouped = df_ALLDATA.groupby("Address").size()


# Final CSV output
out_csv = "houstonAllData.csv"
df_ALLDATA.to_csv(out_csv, index=False)
print(f"Wrote {out_csv} with {len(df_ALLDATA):,} rows.")
print(df_ALLDATA.head(10).to_string(index=False))

  File Number                  DBA Name                       Address  \
0     1253045         TAX HOUSE HOUSTON                7221 SCOTT ST.
1     1253046      ACUNA AUTO SERVICES   4522 SYLVANFIELD DR APT 1304
2     1253047    JO JO'S JAZZY DESIGNS            7723 LOG HOLLOW DR
3     1253048  FUGUE PUBLISHING COMPANY          434 ROUND TOP STREET
4     1253049              PARKER HOUSE                 4910 KELSO ST

      City State    Zip
0  HOUSTON    TX  77021
1  HOUSTON    TX  77014
2  HOUSTON    TX  77040
3  WEBSTER    TX  77598
4  HOUSTON    TX  77021
  File Number Film Code Number  File Date  No. of Pages  Term of DBA  \
0     1253045   ASN-2025-19777   20250806             1           10
1     1253046   ASN-2025-19779   20250806             1           10
2     1253047   ASN-2025-19780   20250806             1           10
3     1253048   ASN-2025-19796   20250806             1           10
4     1253049   ASN-2025-19797   20250806             1           10

  Expired Term Incorporated or Unincorporated Assumed Name or Withdrawn
0            N                              U                       NaN
1            N                              U                       NaN
2            N                              U                       NaN
3            N                              U                       NaN
4            N                              U                       NaN
  File Number             Owner Name                       Address     City  \
0     1253045  GIBSON ANTHONY JAMES          891 14TH ST APT. 4105   DENVER
1     1253046   ACUNA RAMON ENRIQUE   4522 SYLVANFIELD DR APT 1304  HOUSTON
2     1253047      RODRIGUEZ JO ANN             7723 LOG HOLLOW DR  HOUSTON
3     1253048           DYNE PAUL W           434 ROUND TOP STREET  WEBSTER
4     1253049     PARKER CHRISTINE    8201 W BELLFORT ST APT. 1223  HOUSTON

  State    Zip
0    CO  80202
1    TX  77014
2    TX  77040
3    TX  77598
4    TX  77071
Address
10 LOCHBURY CT                     2
10114 GLENGATE LANE                1
10181 WINDMILL LAKES BLVD #1411    2
10229 LAS TERRAZAS DRIVE           3
10550 W SAM HOUSTON PKWY S         4
                                  ..
9403 OAKHEATH CANYON COURT         1
9403 OAKHEATH CANYON CT            1
9600 BELLAIRE BLVD #113            2
9801 LARKWOOD DR 1621              2
9934 JONES RD STE F4               1
Length: 126, dtype: int64
(300, 14)
  File Number                  DBA Name                       Address  \
0     1253045         TAX HOUSE HOUSTON                7221 SCOTT ST.
1     1253046      ACUNA AUTO SERVICES   4522 SYLVANFIELD DR APT 1304
2     1253047    JO JO'S JAZZY DESIGNS            7723 LOG HOLLOW DR
3     1253048  FUGUE PUBLISHING COMPANY          434 ROUND TOP STREET
4     1253049              PARKER HOUSE                 4910 KELSO ST

      City State      Zip Film Code Number  File Date  No. of Pages  \
0  HOUSTON    TX  77021.0              NaN        NaN           NaN
1  HOUSTON    TX  77014.0              NaN        NaN           NaN
2  HOUSTON    TX  77040.0              NaN        NaN           NaN
3  WEBSTER    TX  77598.0              NaN        NaN           NaN
4  HOUSTON    TX  77021.0              NaN        NaN           NaN

   Term of DBA Expired Term Incorporated or Unincorporated  \
0          NaN          NaN                            NaN
1          NaN          NaN                            NaN
2          NaN          NaN                            NaN
3          NaN          NaN                            NaN
4          NaN          NaN                            NaN

  Assumed Name or Withdrawn Owner Name
0                       NaN        NaN
1                       NaN        NaN
2                       NaN        NaN
3                       NaN        NaN
4                       NaN        NaN

NameError: name 'df_ALLDATA' is not defined